[submodule "third_party/curobo"]
	path = third_party/curobo
	url = https://github.com/fi6/curobo.git
[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/chang-xinhai/lerobot.git
	branch = automoma
[submodule "third_party/IsaacLab-Arena"]
	path = third_party/IsaacLab-Arena
	url = https://github.com/fi6/IsaacLab-Arena.git
	branch = automoma
[submodule "third_party/RoboTwin"]
	path = third_party/RoboTwin
	url = https://github.com/chang-xinhai/RoboTwin.git
	branch = automoma
